.cielo{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: right;
/* align-items: center; */
}
.position-relative{
    height: 100px;
}
.botonesCheckout{
    color: white;
}
.cieloLista{
    display: flex;
    flex-direction: row;
align-items: center;
}
.cielo ul li{
    margin-bottom: 0;
}
.cieloLista{
    margin-bottom: 0;
}
.titleParticularCommerce{
    border-radius: 10px;
}

h5{
    font-size: 10px;
}

.swal2-styled.swal2-cancel.copy-button {
    background-color: green;
  }